@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.bg-gradient-greentimber {
  color: #F8FAFC;
  background-image: linear-gradient(102.53deg,  #0f241fb3 3.7%,  #0F241E 102.89%);
}


.bg-gradient-lightGreen {
  background-image: linear-gradient(102.06deg, rgba(155, 235, 168, 0.56) 0%, rgba(155, 235, 168, 0.8) 100.77%);;
}

.bg-gradient-darkBlack {
  background-image: linear-gradient(98.25deg, rgba(5, 13, 9, 0.9) 43.68%, #050D0B 100%);;
}

