@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;500;600;700;800&display=swap'); */


body {
  /* font-family: 'Noto Sans Arabic', sans-serif; */
  font-style: normal;
}


/* custome gradient color  */

.bg-gradient-greentimber {
  color: #f8fafc;
  background-image: linear-gradient(102.53deg, #0f241fb3 3.7%, #0f241e 102.89%);
}

.bg-gradient-lightGreen {
  background-image: linear-gradient(
    102.06deg,
    rgba(155, 235, 168, 0.56) 0%,
    rgba(155, 235, 168, 0.8) 100.77%
  );
}

.bg-gradient-darkBlack {
  background-image: linear-gradient(
    98.25deg,
    rgba(5, 13, 9, 0.9) 43.68%,
    #050d0b 100%
  );
}

.bg-gradient-thinGreen {
  background-image: linear-gradient(
    172.92deg,
    rgba(238, 252, 240, 0.6) -4.77%,
    rgba(238, 252, 240, 0) 77.13%
  );
}

.bg-gradient-thinLightGreen {
  background-image: linear-gradient(
    212.4deg,
    rgba(230, 250, 233, 0.6) 1.78%,
    rgba(230, 250, 233, 0) 80.59%
  );
}

/* custome container */

.ltr\:container-left {
  margin-right: 0;
  margin-left: 0;
}

.rtl\:container-right {
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 640px) {
  .ltr\:container-left {
    margin-right: 0;
    margin-left: calc(50vw - 320px);
  }
  .rtl\:container-right {
    margin-left: 0;
    margin-right: calc(50vw - 320px);
  }
}
@media (min-width: 768px) {
  .ltr\:container-left {
    margin-right: 0;
    margin-left: calc(50vw - 384px);
  }
  .rtl\:container-right {
    margin-left: 0;
    margin-right: calc(50vw - 384px);
  }
}
@media (min-width: 1024px) {
  .ltr\:container-left {
    margin-right: 0;
    margin-left: calc(50vw - 512px);
  }
  .rtl\:container-right {
    margin-left: 0;
    margin-right: calc(50vw - 512px);
  }
}
@media (min-width: 1280px) {
  .ltr\:container-left {
    margin-right: 0;
    margin-left: calc(50vw - 640px);
  }
  .rtl\:container-right {
    margin-left: 0;
    margin-right: calc(50vw - 640px);
  }
}
@media (min-width: 1536px) {
  .ltr\:container-left {
    margin-right: 0;
    margin-left: calc(50vw - 768px);
  }
  .rtl\:container-right {
    margin-left: 0;
    margin-right: calc(50vw - 768px);
  }
}


.ourPartner-flex {
  display: flex !important;
}

/* slider custom dot */

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.slick-dots {
  display: flex;
  align-items: center;
}

body[dir='rtl'] .slick-dots {
  justify-content: flex-end;
}

.ft-slick__dots--custom {
  height: 10px;
  width: 10px;
  /* background-color: #e5e7e9; */
  border-radius: 100%;
  background-color: #657790;
  position: relative;
}

.slick-dots li {
  width: 10px;
  margin: 0 2px;
  transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active {
  width: 50px;

  transition: width 0.3s ease-in-out;
  border-radius: 50px;
}

.slick-dots .slick-active .ft-slick__dots--custom {
  width: 50px;
  border-radius: 50px;
  background-color: #1a3d37;
  top: 0px;
  overflow: hidden;

  .loading {
    height: 10px;
    animation: loading 5s ease-in;
    background-image: linear-gradient(270deg, #4fd15a, #03ac0e);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
}

/* markdown to html */

.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-3;
}

.markdown ul {
  @apply list-disc mx-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown img {
  @apply w-1/2 mx-auto py-4;
}

.markdown iframe {
  @apply w-1/2 mx-auto py-6 rounded-t-xl;
}


/* turncate after 4 line */

.truncate-4-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4; /* number of lines to show */
}
.truncate-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* number of lines to show */
}